:root {
    --palette-lightblue: #cbdceb;
    --palette-blue: #608bc1;
    --palette-darkblue: #133E87;
    --palette-light: #f3f3e0;
}

body {
    text-align: center;
    font-family: 'Monaco';
    line-height: 25px;

    color: var(--palette-darkblue);
    background-color: var(--palette-lightblue);
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background-color: var(--palette-light);
}

a:link {
    text-decoration: underline;
    color: var(--palette-darkblue);
}

a:visited {
    text-decoration: underline;
    color: var(--palette-darkblue);
}

#js-enabled {
    display: none;
}

#js-disabled {
    max-width: 400px;
    margin: 0 auto 0 auto;

    color: firebrick;
}
